
nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12.5px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   }
    
a {
    color: black;   }
    
a:hover {
    color: black;
    text-decoration: none;  }
    
nav input[type=checkbox] {
    display: none;  }
    
nav label {
    display: none;  }
    
.navlogo {
    margin: auto;
    float: left;   }
    
.navmenu {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    list-style-type: none;  }
    
.navmenu li {
    display: inline-block;
    padding-right: 30px;    }

.cart {
    display: inline-block;
    margin: auto;
    width: 150px;   }

.mycart2 {
    display: none;  }

a {
    color: black;   }

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    padding: 50px;  }

section {
    background-color: #f5f5f5;
    border-top: 1px solid #dadada;
    padding-bottom: 60px;   }

.tablecart {
    background-color: white;
    width: 66.5%;
    margin: auto;
    display: grid;
    grid-template-columns: 5.7fr 1fr 1fr 1fr;
    border-top: 1px solid white;
    padding: 60px 40px 40px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;    }

.tablecart > div {
    border-bottom: 1px solid #ddd;
    padding: 10px;  }

.cth {
    color: rgb(171, 171, 171);  }

.tablecart > div:nth-child(1),
.tablecart> div:nth-child(2),
.tablecart > div:nth-child(3),
.tablecart > div:nth-child(4) {
    padding-bottom: 40px;   }

.tablecart > div:nth-child(5),
.tablecart > div:nth-child(6),
.tablecart > div:nth-child(7),
.tablecart > div:nth-child(8),
.tablecart > div:nth-child(9),
.tablecart> div:nth-child(10),
.tablecart > div:nth-child(11),
.tablecart > div:nth-child(12) {
    padding-top: 30px;
    padding-bottom: 60px;   }

.tablecart div:nth-child(2),
.tablecart div:nth-child(3),
.tablecart div:nth-child(4),
.tablecart div:nth-child(7),
.tablecart div:nth-child(11) {
    text-align: right;  }

.tablecart div:nth-child(8),
.tablecart div:nth-child(12) {
    text-align: center; }

.tablecart div:nth-child(5),
.tablecart div:nth-child(9) {
    display: grid;
    grid-template-columns: 1fr 3fr; }

.tablecart div:nth-child(5) div:nth-child(2),
.tablecart div:nth-child(9) div:nth-child(2) {
    text-align: left;
    padding-left: 10px; }

img {
    width: 120px;   }

h6 {
    font-size: 16px;
    margin-top: 0;  }

p, .color {
    color: rgb(171, 171, 171);  }

h6, p, .color {
    font-family: 'Calibri'; }

.color {
    float: left;    }

.buttontable {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;  }

.number {
    background-color: rgb(230, 230, 230);
    padding: 12.5px;
    margin-right: 2px;
    width: 60%;
    text-align: center; }

.addnumber {
    display: inline-flex;
    flex-direction: column;
    width: 13%; }

.addnumber button {
    border: none;
    margin-right: 10px;
    padding-right: 13px;
    background-color: lightgrey;    }

.add {
    margin-bottom: 1px; }

.supp {
    margin-top: 1px;    }

.price {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", sans-serif;
    font-size: 15px;
    color: rgb(171, 171, 171);  }

.cancel {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;   }

.cancel:hover {
    opacity: 1; }
  
.cancel:before, .cancel:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333; }

.cancel:before {
    transform: rotate(45deg);   }

.cancel:after {
    transform: rotate(-45deg);  }

.totalcart  {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 66.5%;
    display: grid;
    margin: auto;
    grid-template-columns: 50% 50%;
    padding-left: 40px;
    padding-right: 40px;    }

.totalcart > div {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 25px;   }

.subtotaltotal {
    display: grid;
    grid-template-columns: 50% 50%; }

.subtotaltotal > div:nth-child(2) {
    text-align: right;  }

label, .subtotalprice {
    color: rgb(171, 171, 171);  }

.choice {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    display: flex;
    width: 66.5%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;   }

.choice div:nth-child(2) {
    padding-right: 40px;    }

.continue {
    text-decoration: underline;
    padding-left: 40px; }

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 25px;
    background-color: #2e2d2d;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 2px;    }