
.cart {
    display: inline-block;
    margin: auto;
    width: 150px;   }

.mycart2 {
    display: none;  }

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center; }

a {
    color: black;   }

.menu {
    border-top: 1px solid rgb(206, 206, 206);
    background-color: white;    }

.menu ul {
    display: flex;
    margin: auto;
    list-style-type: none;
    position: relative;
    justify-content: center;    }

.menu li {
    padding-right: 5px;
    letter-spacing: 2px;    }
    
.menu li::before {
    content: " / "; }
    
.menu li:first-child::before {
    content: "";    }

.menu li:last-child {
    color: grey;    }

.details {
    width: 76%;
    margin: auto;
    display: grid;
    grid-template-columns: 62% 33%;
    column-gap: 50px;
    text-align: center;
    padding-bottom: 50px;   }

.details img {
    width: 675px;   }

.details h1 {
    margin-bottom: 20px;    }

.price {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, sans-serif;
    color: grey;
    font-size: 18px;    }

.description {
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 30px;
    font-size: 13px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;  }

.buttontable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;   }

.number {
    background-color: rgb(245, 245, 245);
    padding: 13px;
    margin-right: 2px;
    width: 12%; }

.addnumber {
    display: inline-flex;
    flex-direction: column;
    width: 9%;  }

.addnumber button {
    border: none;
    margin-right: 10px;
    padding-right: 10px;
    background-color: lightgrey;    }

.add {
    margin-bottom: 1px; }

.supp {
    margin-top: 1px;    }

.addtocart {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    background-color: rgb(44, 43, 43);
    font-size: 12px;
    letter-spacing: 2px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;    }

nav {
    width: 100%;
    height: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12.5px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   }
        
a {
    color: black;   }
        
a:hover {
    color: black;
    text-decoration: none;  }
        
nav input {
    display: none;  }
        
nav label {
    display: none;  }
        
.navlogo {
    margin: auto;
    float: left;    }
        
.navmenu {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    list-style-type: none;  }
        
.navmenu li {
    display: inline-block;
    padding-right: 30px;    }